{% extends '_template.html.twig' %}

{% block pageName %}
    About
{% endblock %}

{% block content %}
<div id="content-header">
    <h2 style="text-align: center;">Some information about Chance the Rapper</h2>
    <hr>
</div>

<div id="chanceInfo">
    <p>
    Chancelor Jonathan Bennett was born on April 16th 1993, known professionally as Chance the Rapper, is an American rapper, singer, songwriter, record
    producer and actor from the West Chatham neighborhood of Chicago, Illinois. In 2013, he began to gain recognition following the release of his
    second mixtape, Acid Rap. Apart from his solo career, he is a member of the Chicago collective Save Money (along with frequent collaborator
    Vic Mensa). He has worked as the lead vocalist for the band The Social Experiment; they released the album Surf in May 2015.<br><br>

    </p>
</div>
{% endblock %}