{% extends '_template.html.twig' %}

{% block pageName %}
    About
{% endblock %}

{% block content %}
<div id="content-header">
    <h2 style="text-align: center;">Some information about Chance the Rapper</h2>
    <hr>
</div>

<div id="chanceInfo">
    <p>
    Chancelor Jonathan Bennett born on April 16th 1993, better known as Chance the Rapper is my favourite musician. He grew up in
    West Chatham neighborhood of Chicago, Illinois. In 2013, he began to gain recognition following the release of his
    second album, Acid Rap. As well as his amazing solo career he is also a member of the Chicago collective Save Money.
    He has worked as the lead vocalist for the band The Social Experiment<br><br>

    </p>
</div>
{% endblock %}
