{% extends '_template.html.twig' %}

{% block pageName %}
    About
{% endblock %}

{% block content %}
    <div id="content-header">
        <h2 style="text-align: center;">Welcome Admin</h2>
        <hr>
    </div>


{% endblock %}