{% extends '_template.html.twig' %}

{% block pageName %}
    Products deleted
{% endblock %}

{% block content %}
    <div id="content-header">
        <h2 style="text-align: center;">All products have been deleted</h2>
        <hr>
    </div>

    <div id="chanceInfo">
        <p style="text-align: center;">
            <a href="/index.php?action=addProductPage" style="color: #CB2987;">Click here</a> to add some products <br><br>
        </p>
    </div>

{% endblock %}
