{% extends '_template.html.twig' %}

{% block pageName %}
    Email Sent
{% endblock %}

{% block content %}
    <div id="chanceInfo">
        <p style="text-align: center;">
            Your Email has been sent.<br><br>
            We will get back to you as soon as possible<br><br>
            Thank you for your interest.
        </p>
    </div>
{% endblock %}
