{% extends '_template.html.twig' %}

{% block pageName %}
    Product Added
{% endblock %}

{% block content %}
    <div id="chanceInfo">
        <p style="text-align: center;">
            Your product has been added.<br><br>

            <a href="/index.php?action=addProductPage" style="color: #CB2987;">Click here</a> to add another product. <br><br>

            <a href="/index.php?action=products" style="color: #CB2987;">Click here</a> to go to the products page.
        </p>
    </div>
{% endblock %}
