{% extends '_template.html.twig' %}

{% block pageName %}
    Products
{% endblock %}

{% block content %}
    <div id="products">
    <table style="width:100%">
        <tr>
        {% set counter = 0 %}
        {% for product in products %}
            <td>
                <img src="{{ product.image }}">
                <h3 style="text-align: center">Colour: {{ product.colour }}</h3>
                <h3 style="text-align: center">Price: {{ product.price }}</h3>
            </td>
            {% set counter = counter + 1 %}
            {% if counter is divisible by(3) %}
                <tr>
            {% endif %}
        {% else %}
            (there are no products)
        {% endfor %}
        </tr>
    </table>
    </div>


{% endblock %}
